
.HouseDetail {
    height: 85%;
}

.house-detail-content {
    max-width: 1200px;
    height: 100%;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.house-detail-content-no-description {
    flex-direction: column-reverse;
}

.house-detail-item {
    height: 100%;
    flex-basis: 80%;
    margin: auto 1em auto 1em;
    display: flex;
    flex-direction: column;
}

.house-detail-content-no-description .house-detail-item {
    height: auto;
    flex-basis: auto;
}

.img-container {
    max-height: 175pt;
}

.img-container-swiper {
    text-align: center;
    height: 100%;
    width: 100%;
}

.house-detail-item h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 5pt;
}

.house-detail-item img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.house-detail-description {
    height: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.modal-header {
    position: sticky;
    top: 0;
    text-align: right;
    z-index: 99;
}

.modal-header button {
    margin-right: -10px;
}

.swiper-button-prev::after {
    color: gray;
}

.swiper-button-next::after {
    color: gray;
}

.swiper-pagination-bullet-active {
    background: lightgrey!important;
}

@media (max-width: 600px) {

    .house-detail-content {
        height: 100%;
        flex-direction: column;
    }

    .house-detail-item h1 {
        margin-bottom: 0;
    }

    .house-detail-description {
        height: 100%;
        overflow-y: unset;
        margin-top: 0;
        margin-bottom: 1em;
    }

    .modal-header button {
        margin-right: 0;
    }

    .img-container {
        margin-top: -1.8em;
    }

    .img-container-swiper {
        flex-shrink: 0;
    }
}
