
.HouseList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.highlight {
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

.no-highlight {
    cursor: pointer;
    width: fit-content;
}

.no-highlight::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


.no-highlight:hover {
    font-weight: bold;
}

.no-result {
    margin: 1em auto;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

/*ul {*/
/*    height: 0;*/
/*    flex-grow: 1;*/
/*    overflow-y: auto;*/
/*    list-style: none;*/
/*    padding-left: 1em;*/
/*}*/

input {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
