
.HouseDetail {
    height: 100%;
}

.house-detail-content {
    display: flex;
    max-width: 1200px;
    height: 100%;
    align-items: center;
    margin: auto;
}

.house-detail-item {
    height: 100%;
    flex-basis: 50%;
    margin: auto 1em auto 1em;
    display: flex;
    flex-direction: column;
}

.house-detail-item h1 {
    text-align: center;
    text-decoration: underline;
}

.house-detail-description {
    height: 0;
    flex-grow: 1;
    overflow-y: auto;
}

img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    border: none;
    background: none;
    padding: 5pt;
    border-radius: 4pt;
    cursor: pointer;
}

.close-button:hover {
    text-decoration: underline;
    background-color: lightgray;
}
